body{
    background-color: #FFF;
    margin: 0;
    text-align: center;
    border: solid
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

table{
    text-align: center;
    margin: 0 auto;
}

nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

.verticalRange{
    appearance: slider-vertical;
}